html{
  padding: 5px;
}

.topIcon{
  margin: 5px;
}

mat-form-field{
  width: 100%;
  margin-bottom: -1em !important;
}

.navCard{
  height: 100px;
  width: 50%;
}

.navCard div{
  width: 100%;
  height: 100%;
  background-image: url("../../../assets/icons/pokeball-icon.png" ) !important;
  background-position:5em;
  background-repeat: no-repeat;
  background-size: 50%;
}

.pokeCard{
  margin-top: 10px;
  padding: 5px;
}

.pokeCard img{
  width: 3em;
}