<html>
  <div fxLayout="row" fxLayoutAlign="end center">
    <fa-icon class="topIcon" [icon]="faFilter"></fa-icon>
    <mat-icon class="topIcon" (click)="openBottomSheet()">sort</mat-icon>
  </div>
  <h1>Pokédex</h1>
  <!-- search bar -->
  <form fxLayout="row">
    <mat-form-field appearance="outline">
      <mat-label style="font-size: larger" fxLayoutAlign="start center">
        <mat-icon>search</mat-icon>
        Pokemon zoeken
      </mat-label>
      <input matInput />
    </mat-form-field>
  </form>

  <div class="navCards" fxLayout="row" fxLayoutGap="10px">
    <!-- my team -->
    <mat-card class="navCard" matCardTitle>
      <div fxLayout="column" fxLayoutAlign="end start">
        <mat-card-title-group>
          <mat-card-title>Mijn team</mat-card-title>
          <mat-card-subtitle>pokemons</mat-card-subtitle>
        </mat-card-title-group>
      </div>
    </mat-card>

    <!-- favorites -->
    <mat-card class="navCard" matCardTitle>
      <div fxLayout="column" fxLayoutAlign="end start">
        <mat-card-title-group>
          <mat-card-title>Favorieten</mat-card-title>
          <mat-card-subtitle>pokemons</mat-card-subtitle>
        </mat-card-title-group>
      </div>
    </mat-card>
  </div>

  <!-- pokemon card -->
  <app-pokemon-card
    (pokemonsEmitter)="receivePokemons(pokemons)"
  ></app-pokemon-card>
</html>
