

@import '~@angular/material/theming';
@include mat-core();


$my-theme-primary: mat-palette($mat-indigo);
$my-theme-accent: mat-palette($mat-pink, A100, A100, A400);
$my-theme-warn: mat-palette($mat-red);

$my-theme: mat-light-theme($my-theme-primary, $my-theme-accent,$my-theme-warn);

@include angular-material-theme($my-theme);

.alternative{
$my-theme-primary: mat-palette($mat-indigo);
$my-theme-accent: mat-palette($mat-pink, A100, A100, A400);
$my-theme-warn: mat-palette($mat-red);


$my-theme: mat-light-theme($my-theme-primary, $my-theme-accent,$my-theme-warn);

@include angular-material-theme($my-theme)
}

// mixins
@mixin button-bg($bg){
    background-color: $bg;
    color: white;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 3em;
    border-radius: 50px;
    font-size: larger;
    border: none;
    &:active{
        background: darken($bg,100%);
        transition: all 0.3s ease;
    }
}

@mixin text-gray{
    color: rgb(186, 186, 186)
}

.btn-confirm{
    @include button-bg(#191919);
}

.gray{
    @include text-gray();
}
